.LocationList__list {
    display: flex;
    flex-direction: column;   
    padding-left: 12px;
    padding-right: 12px; 
}

.LocationList__updating{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 12pt;
}